# **Workshop 5: Data Quality**
**คำสั่ง**

1.   ศึกษาวิธีการตรวจสอบคุณภาพของข้อมูลชุดข้อมูล transaction data 
2.   ทำการตรวจสอบคุณภาพของข้อมูล ชุดข้อมูล customer data  โดยทำปฏิบัติการแต่ละข้อ
3.   ตั้งชื่อไฟล์ python notebook นี้ในรูปแบบ Lab_05_XXXXXXXXX.ipynb โดย XXXXXXXXX คือ รหัสนักศึกษา
4.   ทำการดาวน์โหลดและส่งไฟล์ Lab_05_XXXXXXXXX.ipynb ที่เว็บไซต์ http://hw.cs.science.cmu.ac.th

In [1]:
import pandas as pd
import numpy as np

In [2]:
transaction_data = pd.read_csv("/workspaces/codespaces-jupyter/data/transaction_data.csv", na_values=-999)
transaction_data

   txn_id cust_id  price process_date
0       1       v   89.0     1/5/2021
1       2       y   60.0     1/5/2021
2       3       m   55.0     1/5/2021
3       4       s    NaN     1/5/2021
4       5       z   50.0     1/5/2021
5       6       s   41.0     2/5/2021
6       7       s    NaN    15/5/2021
7       8       e   23.0     1/5/2021
8       9       n   12.0     1/5/2021
9      10       x   87.0     1/5/2021

# Missing values

In [4]:
# detect missing values
missingValues = transaction_data.isna()
print(missingValues)

   txn_id  cust_id  price  process_date
0   False    False  False         False
1   False    False  False         False
2   False    False  False         False
3   False    False   True         False
4   False    False  False         False
5   False    False  False         False
6   False    False   True         False
7   False    False  False         False
8   False    False  False         False
9   False    False  False         False

In [5]:
# count the number of missing data
num_missing = missingValues.values.sum()
print(num_missing)

2

In [6]:
# count the number of rows having missing data
row_missing = missingValues.sum(axis=1)
print(row_missing)
num_row_missing = np.count_nonzero(row_missing)
print("There are %d rows contain missing values"%(num_row_missing))

0    0
1    0
2    0
3    1
4    0
5    0
6    1
7    0
8    0
9    0
dtype: int64
There are 2 rows contain missing values

In [7]:
# count the number of columns having missing data
col_missing = missingValues.sum()
print(col_missing)
num_col_missing = np.count_nonzero(col_missing)
print("There are %d columns contain missing values"%(num_col_missing))

txn_id          0
cust_id         0
price           2
process_date    0
dtype: int64
There are 1 columns contain missing values

# Duplicated records

In [8]:
transaction_data[transaction_data.duplicated(['cust_id'])]

   txn_id cust_id  price process_date
5       6       s   41.0     2/5/2021
6       7       s    NaN    15/5/2021

In [9]:
transaction_data[transaction_data.duplicated(['txn_id'])]

Empty DataFrame
Columns: [txn_id, cust_id, price, process_date]
Index: []

In [10]:
transaction_data[transaction_data.duplicated(['txn_id','cust_id'])]

Empty DataFrame
Columns: [txn_id, cust_id, price, process_date]
Index: []

ปฏิบัติการข้อ 1) จงอ่านชุดข้อมูล Customer Data จากไฟล์ customer_data.csv โดยเก็บไว้ในตัวแปล customer_data (ข้อมูลสูญหาย ถูกแทนด้วยช่องว่าง)

In [ ]:
# Answer here!

ปฏิบัติการข้อ 2) จงนับจำนวนข้อมูลสูญหายทั้งหมดในชุดข้อมูล Customer Data

In [ ]:
# Answer here!

ปฏิบัติการข้อ 3) จงนับจำนวนคอลัมน์ในชุดข้อมูล Customer Data ที่มีข้อมูลสูญหาย

In [ ]:
# Answer here!

ปฏิบัติการข้อ 4) จงนับจำนวนแถวข้อมูลในชุดข้อมูล Customer Data ที่มีข้อมูลสูญหาย

In [ ]:
# Answer here!

ปฏิบัติการข้อ 5) จงหาลูกค้าที่มีการบันทึกข้อมูลในชุดข้อมูล Customer Data ในหลายระเบียนข้อมูล

In [ ]:
# Answer here!

ปฏิบัติการข้อ 6) จงหาลูกค้าที่มีค่าข้อมูลอายุ (age) ไม่อยู่ในขอบเขตข้อมูลที่ถูกต้อง

In [ ]:
# Answer here!

ปฏิบัติการข้อ 7) จงหาลูกค้าที่มีค่าข้อมูลอายุ (age) ผิดปรกติ ไม่สอดคล้องความเป็นจริง

In [ ]:
# Answer here!

# Expand customer information in transaction data using information in customer data

In [ ]:
# Expand customer information in transaction data
txn_with_cust = transaction_data.merge(customer_data, on='cust_id', how='left')
txn_with_cust

ปฏิบัติการข้อ 8) จากการรวมตารางข้อมูล transaction_data และ customer_data ข้างต้นจะพบว่ารูปแบบการแทนค่าตัวแปร process_date_x และ process_date_y ไม่สอดคล้องกัน จงทำให้รูปแบบการแทนค่าตัวแปร process_date_x และ process_date_y สอดคล้องกัน

In [ ]:
# Answer here!